@page "/"
@inject NavigationManager NavigationManager;


    <div class="create-user-form">
        <label>Your name:</label>
        <input type="text" @bind="@UserName" />
        <input type="password" @bind="@Password" />
        <span>@ErrorText</span>
        <button @onclick="@CreateNewUser">Crete New User</button>
        <button @onclick="@Login" style="display:@isLoginBtnHidden">Login</button>
    </div>



@code {
    public string UserName { get; set; }
    public string Password { get; set; }
    public string ErrorText { get; set; } = "";
    public string isLoginBtnHidden = "none";

    void ErrorMsg()
    {
        ErrorText = "This User Exists";
        isLoginBtnHidden = "block";
    }

    UserRepository userRepository = new UserRepository();

    void CreateNewUser() {
        var isExists =  userRepository.Create(new User { Id = Guid.NewGuid(), Name = UserName, Password = this.Password });
        if (isExists) NavigationManager.NavigateTo("chat");
        else ErrorMsg();
    }

    void Login()
    {
        NavigationManager.NavigateTo("chat");
    }
}

