@page "/test"

    <div class="main-container">
        <label>Your name:</label>
        <input type="text" @bind="@userName" />
        <div class="dropdown">
            <label>Your name:</label>
            <select @bind="@person">
                @foreach (var item in @LoadUsers())
                {
                    <option>@item.Name</option>
                }
            </select>
        </div>
        <label>Message:</label>
        <textarea @bind="@message"></textarea>
            <button @onclick="@Run">Send</button>
            <br />
            <div class="result-view">@result</div>
    </div>

@code {
   
}

@functions {

    string userName;
    string message;
    string result;
    string person;

    UserRepository userRepository = new UserRepository();

    void Run() { userRepository.Create(new User { Name = userName }); }

    IEnumerable<User> LoadUsers() => userRepository.GetAll();

}

