@page "/chat"
<div class="main-container">
    <div class="dropdown">
        <label>Choose Person:</label>
        <select @bind="@PersonName">
            @foreach (var item in @LoadUsers())
            {
                <option value="@getUserId(item.Id)">@item.Name</option>
            }
        </select>
    </div>
    <label>Message:</label>
    <textarea @bind="@Message"></textarea>
    <button @onclick="@Send">Send</button>
</div>
<ChatWindow />



@code {

    public string UserName { get; set; }

    public string Message { get; set; }

    public string PersonName { get; set; }

    public Guid RecipientId { get; set; }


    UserRepository userRepository = new UserRepository();
    MessageRepository msgRepository = new MessageRepository();

    object getUserId(Guid id)
    {
        RecipientId = id;
        return id;
    }



    void Send()
    {
        userRepository.Create(new User { Name = UserName });
        msgRepository.Create(new Message()
        {
            MessageText = Message,
            RecipientId = RecipientId.ToString()
        });
    }

    IEnumerable<User> LoadUsers() => userRepository.GetAll();

}

