@page "/chat"
        <div class="main-container">
            <div class="dropdown">
                <label>Choose Person:</label>
                <select @onchange="@DoStuff">
                   
                    @foreach (var item in @LoadUsers())
                     {
                        <option value="@getUserId(item.Id)">@item.Name</option>
                     }

                </select>
            </div>
            <label>Message:</label>
            <textarea @bind="@Message"></textarea>
            <button @onclick="@Send">Send</button>
        </div>
        <ChatWindow OnLoad="ClickHandler" Value="@RecipientId"></ChatWindow>
<p>@message</p>

@code {

    public string UserName { get; set; }

    public string Message { get; set; }

    public string PersonName { get; set; }

    public Guid RecipientId { get; set; }

    string message = "";


    UserRepository userRepository = new UserRepository();
    MessageRepository msgRepository = new MessageRepository();

    object getUserId(Guid id)
    {

        return id;
    }


    void DoStuff(ChangeEventArgs e)
    {
        RecipientId = Guid.Parse(e.Value?.ToString());
    }


    void Send()
    {
        msgRepository.Create(new Message()
        {
            MessageText = Message,
            RecipientId = RecipientId.ToString()
        });
    }

    IEnumerable<User> LoadUsers() => userRepository.GetAll();

    void ClickHandler(string newMessage)
    {
        message = newMessage;
    }

}

